@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,400&family=Oswald:wght@200&family=REM:wght@200&family=Roboto:wght@300&family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;1,400&family=Nunito&family=Oswald:wght@200&family=REM:wght@200&family=Roboto:wght@300&family=Tektur&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@600&family=Lato:ital,wght@0,100;0,400;1,400&family=Nunito&family=Oswald:wght@200&family=REM:wght@200&family=Roboto:wght@300&family=Space+Grotesk&family=Tektur&display=swap');
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 250;
    padding: 250;
    background-image: linear-gradient(to right, rgb(53, 6, 67), rgb(133, 52, 133), rgb(141, 88, 195));
    flex-wrap: wrap;
}

.todo-app {
    width: 360px;
    margin: 50px 0px 0px 0px;
    padding: 20px;
    background-color: rgb(159, 109, 172);
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(6, 223, 239, 0.1);
    flex-wrap: wrap-reverse;
}

h1 {
    text-align: center;
    color: #f2b1ee;
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}

button {
    padding: 10px 15px;
    background-color: #5c1269;
    border: none;
    border-radius: 5px;
    color: rgb(228, 204, 236);
    cursor: pointer;
}

.task-list {
    list-style: none;
    padding: 0;
    color: #2f0654;
    font-style: oblique;
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    font-family: 'Space Grotesk', sans-serif;
}

.task span {
    flex: 1;
    font-size: 19px;
}

.task button {
    background-color: #300436;
    border: none;
    border-radius: 5px;
    color: #ce56e3;
    margin-right:5px ;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    font-style: italic;
    color: #84528d;
}

.pic {
    height: 60px;
    width: 60px;
    margin: 8px;
    border-radius: 50px;
}

.header {
    width: 100%;
    background-color: rgb(186, 127, 197);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border: 5px solid rgb(20, 8, 24);
    max-width: 100%;
}

#header-font {
    margin-top: 15px;
    font-size: 30px;
}

input::placeholder {
    text-align: left;
    color: #190725;
    font-family: 'Nunito', sans-serif;
}

#task{
    border: rgb(20, 8, 24) solid  2px;
}
